---
import BaseLayout from "../layouts/BaseLayout.astro";
import ButtonContact from "../components/ButtonContact.astro";
import { SITE_TITLE } from "../config";

const title = SITE_TITLE + " - About";
---

<BaseLayout title={title}>
  <section>
    <div class="flex flex-col justify-center items-center gap-[57px] mt-10">
      <h2 class="text-[#E0E7FF] font-inter text-[52px]">Happy Clients</h2>
      <div class="flex flex-row gap-[25px] w-[718px] mx-auto">
        <div class="flex w-[96px] h-[96px]">
          <figure><img src="/images/fiat.svg" alt="fiat logo" /></figure>
        </div>
        <div class="flex w-[96px] h-[96px]">
          <figure><img src="/images/siemens.svg" alt="siemens logo" /></figure>
        </div>
        <div class="flex w-[96px] h-[96px]">
          <figure><img src="/images/hitachi.svg" alt="hitachi logo" /></figure>
        </div>
        <div class="flex w-[96px] h-[96px]">
          <figure>
            <img src="/images/rollsroyce.svg" alt="rollsroyce logo" />
          </figure>
        </div>
        <div class="flex w-[96px] h-[96px]">
          <figure><img src="/images/asus.svg" alt="asus logo" /></figure>
        </div>
        <div class="flex w-[96px] h-[96px]">
          <figure><img src="/images/bentley.svg" alt="bentley logo" /></figure>
        </div>
      </div>
    </div>
  </section>

  <div
    class="flex flex-col justify-center items-center gap-[50px] w-[744px] mx-auto mt-[111px] mb-10"
  >
    <article>
      <h1 class="text-[#E0E7FF] font-inter text-[69px]">
        Let Us Tell Your Story
      </h1>
      <p class="text-[#ACB3CA] font-inter text-[35px] text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At inventore
        provident fugiat eaque ducimus, accusamus quis temporibus nesciunt esse?
        Provident?
      </p>
    </article>
    <ButtonContact />
  </div>
</BaseLayout>
