---
import Hero from "../components/index/Hero.astro";
import Cards from "../components/index/Cards.astro";
import Slideshow from "../components/index/Slideshow.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE } from "../config";

const title = SITE_TITLE + " - Homepage";
---

<!-- NOTE replace colors with global variables --><!-- NOTE think about other possible improvements -->
<BaseLayout title={title}>
  <div class="bg-blur">
    <Hero />
    <Cards />
  </div>
  <Slideshow />
</BaseLayout>

<style>
  .bg-blur {
    background-image: url("images/blur.png");
  }
</style>
