---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Cards from "../components/Cards.astro";
import Slideshow from '../components/Slideshow.astro';
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from '../config';

const title = SITE_TITLE;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-screen flex flex-col bg-[#0F172A] bg-blur">
    <Header />
    <Hero />
    <Cards />
		<Slideshow />
    <Footer />
  </body>
</html>

<style>
  .bg-blur {
    background-image: url('images/blur.png');
  }
</style>
