<header
  class="flex flex-row px-10 justify-between gap-[118px] w-4/5 h-[102px] top-[64px]"
>
  <div
    class="flex flex-row justify-between items-center p-0 gap-[37px] w-3/5 h-[102px]"
  >
    <div
      class="flex flex-col justify-center items-center py-[10px] px-[35px] gap-[10px] w-1/12 h-[47px]"
    >
      <button class="text-black text-[22px] font-inter"><a href="/">Home</a></button>
    </div>
    <div
      class="flex flex-col justify-center items-center py-[10px] px-[35px] gap-[10px] w-1/12 h-[47px]"
    >
      <button class="text-black text-[22px] font-inter"><a href="/pricing">Pricing</a></button>
    </div>
    <div
      class="flex flex-col justify-center items-center py-[10px] px-[35px] gap-[10px] w-1/12 h-[47px]"
    >
      <button class="text-black text-[22px] font-inter"><a href="/about">About</a></button>
    </div>
    <div
      class="flex flex-col justify-center items-center py-[10px] px-[35px] gap-[10px] w-1/12 h-[47px]"
    >
      <button
        class="text-black text-[22px] font-inter"
        ><a href="mailto:someone@example.com">Contact</a></button
      >
    </div>
  </div>
</header>