<footer
  class="flex flex-row justify-center items-center w-full h-[49px] bg-[#0F172A] mt-[20px]"
>
  <div class="flex flex-col">
    <p class="text-[#ACB3CA] mx-auto font-inter text-xs">
      Copyright &#169; 2022 DESGN
    </p>
  </div>
</footer>
