<header
  class="flex flex-row mx-auto justify-between p-0 gap-[118px] w-4/5 h-[102px] top-[64px]"
>
  <img src="/images/logo.svg" width="281px" height="102px" alt="logo" />
  <div
    class="flex flex-row justify-between items-center p-0 gap-[37px] w-3/5 h-[102px]"
  >
    <div
      class="flex flex-col justify-center items-center py-[10px] px-[35px] gap-[10px] w-1/12 h-[47px]"
    >
      <button class="text-[#FAFBFF] text-[22px] font-inter"
        ><a href="/">Home</a>
      </button>
    </div>
    <div
      class="flex flex-col justify-center items-center py-[10px] px-[35px] gap-[10px] w-1/12 h-[47px]"
    >
      <button class="text-[#FAFBFF] text-[22px] font-inter"
        ><a href="/pricing">Pricing</a>
      </button>
    </div>
    <div
      class="flex flex-col justify-center items-center py-[10px] px-[35px] gap-[10px] w-1/12 h-[47px]"
    >
      <button class="text-[#FAFBFF] text-[22px] font-inter"
        ><a href="/about">About</a>
      </button>
    </div>
    <div
      class="flex flex-col justify-center items-center py-[10px] px-[35px] gap-[10px] w-3/12 h-[47px] bg-[#5957E9] rounded"
    >
      <button
        class="flex flex-col items-center justify-center py-[0px] px-[10px] w-[143px] h-[27px] text-[#FAFBFF] text-[22px] font-inter"
        ><a href="mailto:someone@example.com">Contact Me</a>
      </button>
    </div>
  </div>
</header>
