<div class="flex flex-col items-center p-0 w-[213px] h-[73px] mx-auto">
  <div
    class="flex flex-col justify-center items-center py-10 px-35 w-[213px] h-[47px] rounded bg-gradient-to-r from-rose-bonbon to-light-coral"
  >
    <a href="#" class="font-inter text-[#FAFBFF] text-[22px]">Contact Me</a>
  </div>
  <p class="text-[#ACB3CA] font-inter text-[12px]">No Commitment</p>
</div>
