<div class="flex flex-col w-7/12 mx-auto gap-[50px]">
  <div class="flex flex-col mx-auto gap-[50px]">
    <h1
      class="font-inter font-medium xl:text-[4.5rem] 2xl:text-[5.5rem] text-[#E0E7FF] mx-auto"
    >
      Your Kind of Designer
    </h1>
    <div class="flex flex-row items-start w-10/12 py-0 px-10 mx-auto">
      <p
        class="flex items-center text-center xl:text-[1.5rem] 2xl:text-[1.7rem] text-[#ACB3CA]"
      >
        Vitae maecenas risus, facilisis orci massa ultricies id mattis interdum
        fermentum quis cras nunc nunc aliquam luctus amet pellentesque dui
      </p>
    </div>
    <div class="flex flex-col items-center p-0 w-[213px] h-[73px] mx-auto">
      <div class="flex flex-col justify-center items-center py-10 px-35 w-[213px] h-[47px] rounded bg-gradient-to-r from-rose-bonbon to-light-coral">
        <a href="#" class="font-inter text-[#FAFBFF] text-[22px]">Contact Me</a>
      </div>
      <p class="text-[#ACB3CA] font-inter text-[12px]">No Commitment</p>
      
    </div>
      <div class="flex flex-row justify-center items-center">
    <img src="../images/programmer.svg" alt="" class="w-[489px] h-[489px]">
  </div>
  </div>

</div>
