---
import Card from "./Card.astro";
---

<section>
  <div class="flex flex-col items-start gap-[29px] w-10/12 mx-auto mt-20">
    <div class="flex flex-row items-start justify-between">
      <Card
        icon="/images/Group_1.svg"
        text="Laoreet massa ut et eleifend mauris ipsum tincidunt egestas pharetra nisi diam"
        cardheader="Custom Coding"
      />
      <Card
        icon="/images/Group_2.svg"
        text="Placerat id congue cras nunc diam, netus cursus risus amet neque, tortor auctor ultrices a"
        cardheader="User Friendly"
      />
      <Card
        icon="/images/Group_3.svg"
        text="Lorem laoreet egestas turpis duis augue fames et diam ante tristique enim"
        cardheader="SEO Optimized"
      />
    </div>
    <div class="flex flex-row items-start justify-between">
      <Card
        icon="/images/Group_4.svg"
        text="Pellentesque volutpat placerat amet nec at auctor eleifend amet sagittis, sed elementum"
        cardheader="Built for Growth"
      />
      <Card
        icon="/images/Group_5.svg"
        text="Auctor consequat enim blandit sed sem adipiscing non elit, lorem id nullam vitae facilisis"
        cardheader="Ready for Mobile"
      />
      <Card
        icon="/images/Group_6.svg"
        text="Tempus dignissim auctor mi quisque tempor aenean sed arcu viverra nunc nisl dolor"
        cardheader="Feels like You"
      />
    </div>
  </div>
</section>
